<h1>OneLogin OpenID Connect Sample - Ruby on Rails</h1>
<p>
  After clicking Login the user will be redirect to OneLogin to authenticate. Once authenticated they will be redirected back to this site and will be able to view the dashboard
</p>

<p><a href="/login">Login</a></p>
