// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
    color: white;
    background: #00A9E0;
    padding: 5px 10px;
    text-decoration: none !important;
    font-family: fangsong;
}

h1,h2,p {
    font-family: fangsong;
}
